<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>PS_作業管理</title>

  <link rel="stylesheet" href="{% static 'OM/om.css' %}" />


</head>
<body>
<div class="dc">P．S</div>
<div class="namecard">
  <h1>費拉沙發</h1>
  <h3>Phila Sofa</h3>
  <button class="but CRM _crm" onclick="location.href='/crm_index'">顧客關係管理</button>
  <button class="but CRM OM" onclick="location.href='/om_index'">作業管理</button><hr>
  
  <button class="button b1" onclick="location.href='./add_order'">新增訂單<span> </span></button><br>
  <button class="button b2" onclick="location.href='./search_order'">查詢訂單<span></span></button>
   <br>
  <button class="button b4" onclick="location.href='./view_order'">檢視訂單列表<span></span></button><br>
  <button class="button b3" onclick="location.href='./view_product'">存貨資料分析<span></span></button>

</div>
</body>
</html>
