*{
  font-family:微軟正黑體;
}

html,body{  
  width:100%;height:100%;
  
  margin:0px;
  padding:0px;
  overflow:hidden;
}
body{
  background-color:#F7ECBE;
  
  
  border-top:solid 20px #26C6DA;
  border-bottom:solid 20px #26C6DA;
  box-sizing:border-box;
  
  overflow:auto;
}
.dc{
  position:absolute;
  left:10%;
  bottom:10%;
  letter-spacing:1px;
  font-size:550px;
  color:rgba(0,0,0,0.06)
}
.namecard{
  width:900px;height:auto;
  position:relative;
/*   top:50px; */
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  border-radius:10px;
  overflow:hidden;
  
}
.namecard h1{
  font-size:70px;
  letter-spacing:7px;
  font-weight:550;
  margin-top:0%;
  margin-bottom:0%;
  color:rgba(0,0,0,0.75);
}
.namecard h3{
  font-size:50px;
  color:rgba(38,198,218,0.6);
  letter-spacing:5px;
  margin-top:0.5%;
  font-weight:600;
}
.but {
    background-color:white; 
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    letter-spacing:2px;
    margin: 0px 12px;
    margin-top:-25px;
    margin-bottom:5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:100px;
}

.CRM{
    background-color: white; 
     
    color:white;
    border: 2px solid #2B4C6E;
    border-radius:100px;
}

.CRM:hover {
    background-color: #2B4C6E;
    color: white;
}

.OM{
  color: black;
  letter-spacing:12px;
  border-radius:100px;
}
._crm{
  background-color:#2B4C6E;
  margin-left:58%;
  border-radius:100px;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-weight:550;
  font-size: 22px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin:1%;
  margin-left:0%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»»';
/*   position: absolute; */
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.b1{
  background-color: #F5C022;
}
.b2{
  background-color: #1CBA39;
  font-size:20px;
}
.b3{
  background-color: #FA7881;
}

.cancel{
  display:inline-block;
}
.back {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display:flex ;
  font-size: 20px;
  letter-spacing:2px;
  margin: 0px auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius:100px;
}
.page{
  background-color: white; 
  color: black; 
  border: 2px solid #2B4C6E;
}

.page:hover {
  background-color: #2B4C6E;
  color: white;
}